<div class="mb-3 bg-primary">
  <label class="visually" for="inputName">
    Tasks
  </label>
  
  
</div>

<button type="button" class="btn btn-secondary">New Task</button>

<%= month_calendar do |date| %>
  <%= date %>
<% end %>